

/*h1{
   text-align: center;
   background-color: Teal;
   font-family: ,"Helvetica Neue",Arial,sans-serif;
   border: solid;
   
}

button{
    text-align: right;
    display: inline-block;
}
input{
    display;  */
 
#bar{
    margin: auto;
    text-align: center;
    position: absolute;
}